<launch>
	<node name="gps_setpoint_flight" pkg="px4_swarm" type="gps_setpoint_flight" output="screen"/>
	<node name="gps_controller" pkg="px4_swarm" type="gps_controller" output="screen"/>
	<node name="Mission_Manager" pkg="px4_swarm" type="Mission_Manager" output="screen"/>

	<node name="formation_flight" pkg="px4_swarm" type="formation_flight" output="screen"/>
	
	

</launch>

